* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.text-color-white {
    color: #fff !important;
}

.row {
    display: inline-block;
    padding: 0 8px ;
    box-sizing: border-box;
}

.col {
    float: left;
    padding: 0 8px;
    margin-bottom: 16px;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

#header {
    background-color: #fff;
    padding: 8px 16px;
    letter-spacing: 4px;   
    display: block;
    height: 54px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}

#header p {
    display: inline-block;
    line-height: 38px;
}

#header .company-name {
    padding: 8px 16px;
    text-decoration: none;
}

#header .company-name b {
    padding-right: 8px;
}

#header #nav {   
    list-style-type: none;
    float: right;
}

#header #nav li {
    padding: 8px 16px;   
    display: inline-block;
    text-align: center;
    justify-content: center;
}

#header .company-name:hover,
#header #nav li:hover {
    background-color: #ccc;
    cursor: pointer;
}

#header #nav li a {
    text-decoration: none;
}

#slider {
    background: url('/assets/img/slider/slider.jpg') top center / cover no-repeat;
    padding-bottom: 50%;
    position: relative;
    display: block;
}

#slider .text-content {
    position: absolute;
    letter-spacing: 4px;
    font-size: 36px;
    color: #f1f1f1;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#slider .text-content b {
    background-color: #000;
    opacity: 0.8;
    padding: 8px 16px;
    margin-right: 16px;
}

#content {
    padding: 8px 16px;
}

#content #content-projects {
    padding: 32px 16px;
}

.projects-text {   
    font-size: 24px;
    color: #fff;
    margin: 10px 0px;
    padding: 16px 0;
    border-bottom: 1px solid #fff;
}

#content .picture {
    position: relative;
    float: left;
}

#content .picture img {
    width: 100%;
}

#content .picture .text-img {
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    padding: 8px 16px;
    text-align: center;
    justify-content: center;
}

#content .projects-picture {
    padding: 0 8px;
}

.item-width {
    width: 25%;
}

#about {
    
}

#about #about-text {
    padding: 32px 16px;
}

#about p {
    margin: 15px 0;
    line-height: 1.5;
}

#about .member-position {
    opacity: 0.6;
}

#about img {
    width: 100%;  
    filter: grayscale(0.7)
}

#about .member {
    padding: 0 8px;
    display: block;
}

#about .member h3 {
    font-size: 24px;
    margin: 10px 0;
}

#about .btn {
    color: #000;
    background-color: #f1f1f1;
    display: block;
    border: none;
    width: 100%;
    padding: 8px 16px;
    height: 38px;
    font-size: 15px;
    font-weight: 500;
    margin: 15px 0;
}

#about .btn:hover {
    background-color: #ccc;
}

#contact {
    padding: 32px 16px;
}

#contact .contact-text {
    font-size: 15px;
    margin: 15px 0;
}

#contact input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: #ccc solid 1px;
    height: 40px;
}

#contact a {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    margin: 16px 0;
    padding: 8px 16px;
}

#contact .btn-contact {
    color: #fff;
    background-color: #000;
    width: 153px;
    height: 38px;
    border: none;
    margin: 16px 0;
    padding: 8px 16px;
}

#contact .btn-contact:hover {
    background-color: #ccc;
}

.map {
    width: 100%;
    padding: 0 16px;
}

#footer {
    padding: 16px 0;
    background-color: #000;
}

#footer p {
    text-align: center;
    margin: 15px 0;
    height: 22px;
}

#footer a {
    color: #fff;
}